.ViewExp {
  width: 98%;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  text-align: center;
}
.ViewExpenses_hr {
  /* background-image: url("../preview16.jpg"); */
  background-color: rgb(246, 243, 243);
  /* height: 100vh; */
  /* background-color: rgb(240, 236, 236); */
  /* background-size: 00%; */
  min-height: 91vh; 
  /* /* max-width: 201.5vh;  */

}
.card1 {
  height: 220px;
  width: 200px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2);
  /* background-color: rgb(247, 241, 247); */
  background-color: rgb(248, 247, 248);
  backdrop-filter: blur(10px);
  overflow: hidden;
  font-style: italic;
  margin: 10px 50px 40px 40px;
  
  padding: 15px;
}
.status {
  float: right;
  height: 60px;
  width: 125px;
  background-color: rgb(89, 207, 89);
  transform: translate(35%, -50%);
  border-radius: 50%;
  /* display: inline-block; */
}
.status h5 {
  text-align: left;
  padding-top: 20px;
  padding-left: 25px;
  font-weight: 600;
}
.Icon_edit {
  font-size: 0.7cm;
  float: right;
  padding: 0 30px 10px 0;
}
.Icon_delete {
  font-size: 0.7cm;
  float: left;
  padding: 0 10px 30px 0;
}
.title_expenses {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  padding-top: 20px;
}

.logo_user {
  font-size: 10vmin;
  text-align: center;
  padding-left: 75px;
  /* padding-top: 50px; */
}
.user_name {
  font-weight: 500;
  font-style: italic;
  padding-top: 60px;
}
.search_text_hr {
  display: flex;
  padding-left: 80%;
}
/* .icon_search {
  font-size: 0.7cm;
} */

.search-form {
  display: flex;
  width: 30px;
  height: 35px;
}

.search-input {
  padding: 6px 22px;
  font-size: 12px;
  outline: none;
  width: max-content;
  margin-right: 10px;
}

.search-icon {
  width: 20px;
  height: 20px;
  font-size: x-large;
}
