.ViewExp {
  width: 98%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  text-align: center;
}
.ViewExpenses {
  /* background-image: url("../preview16.jpg"); */
  background-color: rgb(226, 222, 226);
  background-size: cover;

  height: 100vh;
  width: 100%;
}
.card1 {
  min-height: 250px;
  min-width: 280px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2);
  background-color: rgb(204, 202, 204);
  /* backdrop-filter: blur(10px); */

  margin: 20px 50px 50px 130px;
  padding: 5px;
}
.Icon_edit {
  font-size: 0.7cm;
  float: right;
  padding: 0 30px 10px 0;
}
.Icon_delete {
  font-size: 0.7cm;
  float: left;
  padding: 0 10px 30px 0;
}
.title_expenses {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.logo_user {
  text-align: center;
  font-size: 10vmin;
}
